<h1> WELCOME TO THE HOSPITAL INFORMATION MANAGEMENT SYSTEM</h1>

<div><h1>Doctors</h1>
<%= link_to "Doctors List", doctors_path , class: 'btn btn-primary'%>
<%= link_to "Add a Doctor", new_doctor_path, class: 'btn btn-primary'%>
</div>
<div>
<h1>Patient</h1>
<%= link_to "Patients List", patients_path , class: 'btn btn-primary'%>
<%= link_to "Add a Patient", new_patient_path, class: 'btn btn-primary'%>
</div>
<h1>Appointment Section</h1>
<div>
<%= link_to "Add an appointment", new_appointment_path, class: 'btn btn-primary'%>
<%= link_to "List all appointments", appointments_path, class: 'btn btn-primary'%>
</div>