<h2><marquee behavior="slide">WELCOME TO HOSPITAL INFORMATION MANAGEMENT SYSTEM</marquee></h2>
<div class="col-md-5 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h4><b>LOGIN TO HIMS</b></h4>
    </div>
    <div class="panel-body">
      <div class="col-sm-10 col-sm-offset-1">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
      <div class= 'panel-footer'>
        <%=link_to "Create an account", new_user_registration_path, class: "pull-left"%>
        <%= link_to "Forgot your password?", new_user_password_path(resource), class: "pull-right"%>
      </div>
    </div>
  </div>
</div>

